<template>
  <v-layout mt-5 wrap id="pfPan">
      <v-flex v-for="i in portfolios.length > limits ? limits : portfolios.length" class="pflist">
        <Portfolio class="ma-3"
              :date="portfolios[i - 1].created_at.toString()"
              :title="portfolios[i - 1].title"
              :body="portfolios[i - 1].body"
              :imgSrc="portfolios[i - 1].img"
              >
        </Portfolio>
      </v-flex>

    <v-flex xs12 text-xs-center round my-5 v-if="loadMore">
      <v-btn color="#3a718c" dark large v-on:click="loadMorePortfolios"><v-icon size="25" class="mr-2">fa-plus</v-icon>더 보기</v-btn><br>
      <!-- <v-btn color="info" dark v-on:click="loadWriter"><v-icon size="25" class="mr-2">create</v-icon>추가</v-btn> -->
    </v-flex>
  </v-layout>
</template>
<script>
import Portfolio from '@/components/Portfolio'
import FirebaseService from '@/services/FirebaseService'

export default {
	name: 'PortfoliosList',
	props: {
		limits: {type: Number, default: 4},
    loadMore: {type: Boolean, default: false}
	},
	data() {
		return {
			portfolios: []
		}
	},
	components: {
		Portfolio
	},
	mounted() {
		this.getPortfolios()
	},
	methods: {
		async getPortfolios() {
			this.portfolios = await FirebaseService.getPortfolios()
      // if(this.portfolios.size >= this.limits)
      //   loadMore = true
		},
		loadMorePortfolios() {
      this.limits+=4;
    },
    loadWriter(){
      this.$emit('portfolioWriterOn');
    }
	},
}
</script>
<style>
  .mw-700 {
    max-width: 700px;
    margin: auto;
  }
  #pfPan {
    display: table;
    text-align: center;
    width: 100%;
  }
  .pflist {
    display: inline-block;
    width: 250px;
    margin: 10px;
  }

  @media screen and (max-width:1264px) {
    .pflist {
      width: 300px;
      max-width: 300px;
    }
  }
  @media screen and (max-width:600px) {

  }
</style>
